:root {
    --dark: #0d0106;
    --darkblue: #00002e;
    --blue: #657ed4;
    --red: #ff331f;
    --light: #fbfbfb;

    --ffh1: 'MedievalSharp', serif;
    --ffh2: 'Lora', serif;
    --ffbasique: sans-serif;

    --fsh1: 3rem;
    --fsh2: 1.7rem;

    --fw700: 700;
    --fw600: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    color: var(--darkblue);
    background-color: var(--light);
    font-family: var(--ffbasique);
}

/* --------------------------------- */
/* -------------logo---------------- */
/* --------------------------------- */

.logo {
    font-weight: var(--fw700);
    font-size: var(--fsh2);
}

/* --------------------------------- */
/* ------------top-navbar----------- */
/* --------------------------------- */

header {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    z-index: 1000;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex .logo {
    display: none;
}

button.mobile-nav-toggle {
    cursor: pointer;
    border: none;
    padding: 0.2em;
    z-index: 1000;
    font-size: 1.5rem;

    width: 2.5rem;
    background-color: var(--light);
    padding: 0.5rem;
    border-radius: 10px;
}

.side-nav {
    display: none;
}

.side-nav.opened {
    display: block;
    position: fixed;
    padding: 1.5rem;
    inset: 4rem 2rem auto 2rem;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    z-index: 990;
}

body.opened::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    z-index: -1;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.side-nav ul li {
    width: 100%;
    text-align: center;
    border-top: 2px solid var(--dark);
}

.side-nav ul li:first-child {
    border: none;
}

.side-nav a {
    line-height: 3rem;
    padding: 0em 0.5em;
}

header .fa-user {
    background-color: var(--light);
    padding: 0.5rem;
    border-radius: 10px;
}

/* --- */

header .fa-bars {
    display: block;
}

header .fa-xmark {
    display: none;
}

body.opened .fa-bars {
    display: none;
}

body.opened .fa-xmark {
    display: block;
}


/* --------------------------------- */
/* --------image-principale--------- */
/* --------------------------------- */

.main-image {
    background: url(./assets/piscine4.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 300px;
    padding: 1rem;
    filter: saturate(50%);

    color: var(--light);
    text-align: center;
    text-shadow: 3px 3px 2px var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--ffh1);
    font-size: var(--fsh1);
    font-weight: var(--fw700);
}

.main-image p {
    max-width: 20rem;
}


/* --------------------------------- */
/* ------------bot-navbar----------- */
/* --------------------------------- */

section.bot-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    background-color: var(--light);
    padding: 0.5rem;
    border-radius: 10px;
}

/* --------------------------------- */
/* --------------footer------------- */
/* --------------------------------- */

footer {
    margin: 3rem 20%;
    padding: 1.5rem;
    border-top: 2px solid var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer nav{
    display: none;
}

footer .icons-applis {
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer .copyright {
    font-size: 0.6rem;
}


/* --------------------------------- */
/* --------------ACCEUIL------------ */
/* --------------------------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1.5rem;
    gap: 1.5rem;
}

main a {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .img {
    color: var(--light);
    text-shadow: 3px 3px 2px var(--dark);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px var(--dark);

    width: 100%;
    height: 9rem;
}

main .img1 {
    background: url(./assets/piscine5.jpg) 50% 50% no-repeat;
    background-size: cover;
}

main .img2 {
    background: url(./assets/massage4.jpg) 50% 53% no-repeat;
    background-size: cover;
}

main .img3 {
    background: url(./assets/produit10.jpg) 50% 28% no-repeat;
    background-size: cover;
}









/* --------------------------------- */
/* ------------Responsive----------- */
/* --------------------------------- */

/* 
Mobile en portrait (320px à 414px) - Pour les appareils avec des écrans de 4" à 6,9".
Mobile en paysage (568px à 812px) - Idem, mais en paysage.
Tablette en portrait (768px à 834px) - Pour les appareils de 7" à 10".
Tablette en paysage (1024px à 1112px) - Idem, mais aussi tablettes 12" en portrait.
Ecrans d'ordinateurs portables et de bureau (>1200px) - Varie beaucoup, mais généralement de 1200px et plus.
*/

@media screen and (min-width: 1200px) {

    /* ---------------header------------ */
    header {
        background-color: rgb(101, 126, 212, 0.7);
        padding: 0 2rem;
        color: var(--light);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .nav-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-flex .logo {
        display: block;
    }

    header .mobile-nav-toggle {
        display: none;
    }

    header .side-nav {
        display: block;
    }

    header .side-nav ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        font-weight: var(--fw600);
    }

    header .side-nav ul li {
        width: auto;
        border: none;
    }

    header .fa-user {
        background-color: transparent;
    }


    /* ---------------footer------------ */
    section.bot-navbar {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    footer nav {
        display: block;
    }

    footer nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    footer nav ul li{
        width: 100%;
        text-align: center;
        border-top: none;
    }

    /* --------------ACCEUIL------------ */
    main {
        margin-top: 3rem;
        gap: 3rem;
    }

    main .img {
        height: 13rem;
        width: calc(100% - 10rem);
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }
}
