.imgdetente {
    min-height: 120px;
    width: 45vw;
    border-radius: 20px;
    box-shadow: -5px 9px 11px 0px #A6A6A6;
    overflow: hidden;
    flex: 2;
}

img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 30% 30%;

}

.jacuzzi img {
    object-position: 0% 10%;
}

.balneo img,
.exterieur img {
    object-position: 50% 50%;
}

.detente div {
    display: flex;
    margin-bottom: 24px;
}

.textblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 16px;
    flex: 1;

}

main {
    margin: 2em 1em;
    font-family: sans-serif;
    max-width: 1000px;
}

body {
    background-color: var(--light);
}

h3 {
    color: var(--dark);
    font-family: var(--ffh2);
}

main p {
    color: var(--dark);
}

.exterieur .imgdetente,
.jacuzzi .imgdetente {
    order: 1;
    box-shadow: 5px 9px 11px 0px #A6A6A6;
}

.exterieur div,
.jacuzzi div {
    text-align: right;
}

@media screen and (min-width: 700px) {
    .textblock {
        justify-content: center;
        flex-shrink: 1;
    }


    .imgdetente {
        max-height: 45vh;
        width: 70vw;
        flex-grow: 2;
    }
}