main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.openHours,
.rating,
.map {
    margin-bottom: 5vh;
}

h3 {
    color: var(--dark);
    font-family: 'lora', serif;
    padding: 1rem;
    text-align: center;
}

iframe {
    width: clamp(200px, 80vw, 500px);
}

.openHours ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-star {
    color: lightgrey;
    cursor: pointer;
    padding: 0.0625rem;

}

.rating p {
    font-size: 2rem;
}


.rating:hover .fa-star {
    color: #ffdc0f;
}

.rating .fa-star:hover~.fa-star {
    color: lightgray;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: clamp(200px, 70vw, 700px);
}

input {
    height: 6vh;
    width: 100%;
    padding: 1rem;
}

.inputbox {
    position: relative;
    width: 100%;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: clamp(200px, 70vw, 700px);
}

textarea {
    height: 15vh;
    padding: 1vh;
    font-family: sans-serif;
    resize: none;
    width: 100%;
}

button {
    width: 100px;
    height: 40px;
    align-self: center;
}

form span {
    position: absolute;
    left: 0;
    margin: 2vh;
    pointer-events: none;
    color: grey;
    transition: 0.5s;

}

textarea,
input {
    border: 1px solid grey;
    background-color: var(--light);
    border-radius: 5px;
    outline: none;
}

textarea:valid~span,
textarea:focus~span,
input:valid~span,
input:focus~span {
    color: grey;
    font-weight: 600;
    transform: translateX(3vh);
    transform: translateY(-3vh);
    background-color: var(--light);
    padding: 0 2vh;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 5px;
}

textarea:valid,
textarea:focus,
input:valid,
input:focus {
    border: 2px solid grey;
}