:root {
    --dark: #0d0106;
    --darkblue: #00002e;
    --blue: #657ed4;
    --red: #ff331f;
    --light: #fbfbfb;

    --ffh1: 'MedievalSharp', serif;
    --ffh2: 'Lora', serif;
    --ffbasique: sans-serif;

    --fsh1: 3rem;
    --fsh2: 1.7rem;

    --fw700: 700;
    --fw600: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    color: var(--darkblue);
    background-color: var(--light);
    font-family: var(--ffbasique);
}

/* --------------------------------- */
/* -------------logo---------------- */
/* --------------------------------- */

.logo {
    font-weight: var(--fw700);
    font-size: var(--fsh2);
}

/* --------------------------------- */
/* ------------top-navbar----------- */
/* --------------------------------- */

header {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    z-index: 10;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex .logo {
    display: none;
}

button.mobile-nav-toggle {
    cursor: pointer;
    border: none;
    padding: 0.2em;
    z-index: 10;
    font-size: 1.5rem;

    width: 2.5rem;
    background-color: var(--light);
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--dark);
}

.side-nav {
    display: none;
}

.side-nav.opened {
    display: block;
    position: fixed;
    padding: 1.5rem;
    inset: 4rem 2rem auto 2rem;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    z-index: 9;
}

body.opened::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.side-nav ul li {
    width: 100%;
    text-align: center;
    border-top: 2px solid var(--darkblue);
    font-size: 1.2rem;
    line-height: 3rem;
}

.side-nav ul li:first-child {
    border: none;
}

.side-nav a {
    padding: 0rem 1rem;
}

header .side-right {
    display: flex;
    gap: 1rem;
}

header .side-right .fa-droplet{
    display: none;
}

header .fa-spa,
header .side-right .fa-user,
header .side-right .fa-cart-shopping {
    background-color: var(--light);
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--dark);
}

/* --- */

header .fa-bars {
    display: block;
}

header .fa-xmark {
    display: none;
}

body.opened .fa-bars {
    display: none;
}

body.opened .fa-xmark {
    display: block;
}


/* --------------------------------- */
/* --------image-principale--------- */
/* --------------------------------- */

.main-image {
    background: url(../assets/header2.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 300px;
    padding: 1rem;
    filter: saturate(50%);

    color: var(--light);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-image::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: linear-gradient(to top, var(--light), transparent);
}

h1 {
    font-family: var(--ffh1);
    font-size: clamp(2.35rem, 10vw, 4.5em);
    font-weight: var(--fw700);
    text-shadow: 3px 3px 2px var(--dark);
}

.main-image p {
    max-width: 20rem;
    text-shadow: 1.5px 1.5px 2px var(--dark);
}


/* --------------------------------- */
/* ------------bot-navbar----------- */
/* --------------------------------- */

section.bot-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    background-color: var(--light);
    padding: 0.5rem;
    border-radius: 10px;

    z-index: 2;
}

/* --------------------------------- */
/* --------------footer------------- */
/* --------------------------------- */

.footer {
    margin: 3rem 20% 2rem 20%;
    padding: 1.5rem;
    border-top: 2px solid var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer nav {
    display: none;
}

footer .icons-applis {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icons-applis i {
    padding: 0.25rem;
    font-size: 2rem;

    transition: linear 0.3s;
}

footer .copyright {
    font-size: 0.6rem;
    text-align: center;
}



/* --------------------------------- */
/* ------------Responsive----------- */
/* --------------------------------- */

/* 
Mobile en portrait (320px à 414px) - Pour les appareils avec des écrans de 4" à 6,9".
Mobile en paysage (568px à 812px) - Idem, mais en paysage.
Tablette en portrait (768px à 834px) - Pour les appareils de 7" à 10".
Tablette en paysage (1024px à 1112px) - Idem, mais aussi tablettes 12" en portrait.
Ecrans d'ordinateurs portables et de bureau (>1200px) - Varie beaucoup, mais généralement de 1200px et plus.
*/


@media screen and (min-width: 800px) {

    /* ---------------header------------ */
    header {
        background-color: transparent;
        padding: 0 2rem;
        color: var(--light);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .nav-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-flex .logo {
        display: block;
        padding-right: 2rem;
        flex-shrink: 1;
    }

    .accueil {
        display: none;
    }

    .side-right {
        padding-left: 2rem;
        flex-shrink: 1;
    }

    header .mobile-nav-toggle {
        display: none;
    }

    header .side-nav {
        display: block;
        flex-grow: 1;
    }

    header .side-nav ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: var();
        font-weight: var(--fw600);
    }

    header .side-nav ul li {
        width: auto;
        border: none;
        font-size: 1rem;
        font-family: var(--ffh2);
        text-shadow: 0px 0px 8px var(--dark);
        line-height: 0rem;
    }

    header .side-right {
        display: flex;
        gap: 1rem;
    }

    header .fa-spa,
    header .side-right .fa-user,
    header .side-right .fa-cart-shopping {
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid transparent;
        transition: ease-in 0.3s;
    }

    .main-image p {
        max-width: 35rem;
    }

    /* ---------------.footer------------ */
    section.bot-navbar {
        display: none;
    }

    .footer {
        margin: 3rem 20% 0rem 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 3rem 20% 0 20%;
    }

    .footer nav {
        display: block;
    }

    .footer nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    .footer nav ul li {
        width: 100%;
        text-align: center;
    }

    /* --------------------------------- */
    /* -------------Animation----------- */
    /* --------------------------------- */


    header .side-right .fa-user:hover,
    header .side-right .fa-cart-shopping:hover,
    header .fa-spa:hover {
        border: 2px solid var(--light);
    }

    .footer .icons-applis a i:hover {
        color: var(--light);
        background-color: var(--darkblue);
    }

    .footer nav ul li a:hover {
        text-decoration: underline;
    }


    /* ----- */

    header .side-nav ul li a {
        position: relative;
        padding: 0.25rem;
        border: none;
    }

    header .side-nav ul a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;

        border-radius: 10px;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        transition: linear 0.3s;
    }

    header .side-nav ul li a::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;

        border-radius: 10px;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        transition: linear 0.3s;
    }

    header .side-nav ul li:hover a::after,
    header .side-nav ul li:hover a::before {
        border-color: var(--light);
        width: 100%;
        height: 100%;
    }


    /* --------------------------------- */
    /* -------------USER PLOUF---------- */
    /* --------------------------------- */

    header .side-right .fa-user.jump {
        animation: jump 3s linear;
    }

    .side-right {
        position: relative;
    }

    header .side-right .fa-droplet{
        display: block;
    }

    header .side-right .droplet1 {
        opacity: 0;
        position: absolute;
        top: 100px;
        right: 100px;
        color: var(--light);
        transform: rotate(210deg);
    }

    header .side-right .droplet2 {
        opacity: 0;
        position: absolute;
        top: 100px;
        right: 110px;
        color: var(--light);
        transform: rotate(140deg);
    }

    header .side-right .droplet1.drop1 {
        animation: drop1 3s linear;
    }

    header .side-right .droplet2.drop2 {
        animation: drop2 3s linear;
    }


    @keyframes jump {
        0% {
            transform: rotate(-50deg);
        }

        20% {
            transform: translate(-60px, 50px) rotate(-120deg);
        }

        40% {
            transform: translate(-100px, 100px) rotate(-180deg);
            opacity: 1;
        }

        41% {
            transform: translate(-100px, 100px) rotate(-180deg);
            opacity: 0;
        }

        100% {
            transform: translate(-100px, 100px) rotate(-180deg);
            opacity: 0;
        }
    }

    @keyframes drop1 {
        0% {
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        40.5% {
            opacity: 1;
            transform: translate(0, 0) rotate(210deg);
        }

        75% {
            transform: translate(10px, -10px) rotate(350deg);
        }

        95% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translate(20px, 0px) rotate(360deg);
        }
    }

    @keyframes drop2 {
        0% {
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        40.5% {
            opacity: 1;
            transform: translate(0, 0) rotate(140deg);
        }

        75% {
            transform: translate(-10px, -10px) rotate(10deg);
        }

        95% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translate(-20px, 0px) rotate(0deg);
        }
    }
}



@media screen and (min-width: 930px) {
    header .side-nav ul li {
        width: auto;
        border: none;
        font-size: 1.2rem;
    }
}