:root {
    --dark: #0d0106;
    --darkblue: #00002e;
    --blue: #657ed4;
    --red: #ff331f;
    --light: #fbfbfb;

    --ffh1: "MedievalSharp", serif;
    --ffh2: "Lora", serif;
    --ffbasique: sans-serif;

    --fsh1: 3rem;
    --fsh2: 1.7rem;

    --fw700: 700;
    --fw600: 600;
}

body {
    font-family: var(--ffbasique);
    color: var(--darkblue);
}

.individuel .images {
    height: 100%;
    width: 75%;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 250px;
    width: 100%;
}

h3 {
    font-family: "lora", serif;
    margin: 0;
}

.individuel {
    background-color: var(--light);
    width: 90%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 5px 9px 11px #a6a6a6;
}

.produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 15px 0px 7px;
}

.descriptif1,
.descriptif2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.descriptif1 {
    padding: 15px 15px 5px 0;
}

.descriptif2 {
    padding: 15px 3px 5px 15px;
    text-align: center;
}

h3,
p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.individuel button {
    border-radius: 2.5ch;
    border: 2px solid grey;
    color: var(--dark);
    box-shadow: 0 0 8px var(--dark);
    margin: 35px 0 25px 0;
    padding: 8px 15px;
    cursor: pointer;
}

.individuel:nth-child(even) img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.individuel:nth-child(odd) img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (min-width: 660px) {
    .produit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 25px;
    }

    .descriptif2 {
        text-align: right;
    }

    .produit .individuel:hover {
        transform: scale(1.2);
    }

    .produit .individuel {
        transition-duration: 1.5s;
        transition-timing-function: ease-in-out;
    }
}
@media screen and (min-width: 1000px) {
    .individuel:nth-child(even) img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .individuel {
        height: 40vh;
        width: 100%;
        margin-bottom: 15px;
    }

    .individuel .images {
        height: 100%;
        gap: 0;
    }
    .produit {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 45px 0px 0px 0px;
        padding: 0px 25px 0px 30px;
    }

    .individuel p {
        width: 80%;
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    .descriptif2 {
        display: flex;
        flex-direction: column;
        text-align: start;
        order: 2;
    }
}
